footer {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

footer .text-uppercase {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}
